/** {
  box-sizing: border-box;
}*/

#navbar {
  background-color: #34DFBB;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.jumbotron {
  height: 100vh;
  background-color: rgba(144,238,144,0.3);
}

.jumbotron li span {
  opacity: 0;
  -webkit-animation: forwards;
  -webkit-animation-name: jumbotron-span;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes jumbotron-span {
  from {
    position: relative;
    top: 15px;
    opacity: 0.0;
  }
  to {
    position: relative;
    top: 0px;
    opacity: 1.0;
  }
}

.jumbotron h1 {
  -webkit-animation-name: jumbotron-h1;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes jumbotron-h1 {
  from {opacity: 0.0;}
  to   {opacity: 1.0;}
}

.profile-badge {
  margin-left: auto;
  margin-right: auto;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

body {
  font-family: futura;
  font-size: 18px;
  background-color: rgba(144,238,144,0.3);
  /*padding-top: 70px;*/
}

a {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.greentext {
  color: darkred;
}

.weekly img {
  margin-left: auto;
  margin-right: auto;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:50px;
    height:50px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
    vertical-align: middle;
    position: relative;
    bottom: 0 px;
    margin-bottom: 10px;
}

input[type='checkbox']:checked {
    background: lightgreen;
}

main,
footer {
  text-align: center;
}

main {
  margin-bottom: 40px;
}

footer {
  font-size: 14px;
  padding-top: 14px;
  border-top: 1px solid gray;
  color: rgba(0,0,0,0.4);
}

form {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

#exampleInputEmail1.red-border {
  border: 2px solid red;
}
