<div class='weekly'>
  <h1>{{wc.weekly.badge}}</h1>
  <h4>{{wc.weekly.date}}</h4>
  <p>
    {{wc.weekly.description}}
  </p>
  <p>
    {{wc.allDone}}
  </p>
  <table class='table container-fluid'>
    <tr ng-repeat='challenge in wc.weekly.challenges'>
      <td>{{challenge.description}}</td>
      <td>
        <input type='checkbox' name='challenges[{{$index}}]' ng-model='challenge.completed' ng-click='wc.checkbox(challenge)'/>
      </td>
    </tr>
  </table>

  <button ng-class='{btn: true, disabled: !wc.allDone}' >Finish</button>
</div>
